POSTGRES_HOST=postgres16
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_DB=mydb
POSTGRES_PORT=5432
PGADMIN_PORT=5050
PGADMIN_DEFAULT_EMAIL=example@example.com
PGADMIN_DEFAULT_PASSWORD=changeme
API_SERVER_PORT=4000
API_SERVER_KEY=maplytics_secret_key
NEXT_PUBLIC_PORT=3000
#For production: NEXT_PUBLIC_API_URL=https://maplytics.org/api
NEXT_PUBLIC_API_URL=http://localhost:4000/api
#Firebase Variables
NEXT_PUBLIC_FIREBASE_API_KEY=<firebase_api_key>
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=<firebase_auth_domain>
NEXT_PUBLIC_FIREBASE_PROJECT_ID=<firebase_project_id>
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=<firebase_storage_bucket>
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=<firebase_sender_id>
NEXT_PUBLIC_FIREBASE_APP_ID=<firebase_app_id>
# Firebase Admin SDK 
FIREBASE_PROJECT_ID=<FIREBASE_PROJECT_ID>
FIREBASE_CLIENT_EMAIL=<FIREBASE_CLIENT_EMAIL>
FIREBASE_PRIVATE_KEY=<FIREBASE_PRIVATE_KEY>

# RustFS Variables
RUSTFS_PORT1=9000
RUSTFS_PORT2=9001
# S3 (Rustfs)
S3_REGION=us-east-1
S3_ENDPOINT=http://rustfs:9000
S3_ACCESS_KEY=rustfsadmin
S3_SECRET_KEY=rustfsadmin
S3_BUCKET_NAME=datasets
# Redis
REDIS_HOST=Redis
REDIS_PORT=6379

# Worker Callback Configuration
WORKER_API_KEY=worker_secret_key_change_me
API_URL=http://api_server:4000/api